html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #f2f2f2;
  margin-bottom: 10rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  background-color: #f2f2f2;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.search-bar {
  position: fixed;
  padding: 1rem 2rem;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.logo {
  width: 3rem;
  height: 1.5rem;
}
.container-list {
  padding-top: 4.5rem;
}

.product-list {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.product-item {
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  width: calc(50% - 0.5rem);
  margin-top: 1rem;
  padding-top: 1rem;
  cursor: pointer;
}

.product-text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: center;
  padding: 0 0.5rem;
  line-height: 16px;
  overflow: hidden;
}
.product-text img {
  width: 38px;
  height: 15px;
}

.product-text p {
  padding: 16px 0;
}

.clear-input {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.input-content {
  position: relative;
}

.afflink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  cursor: pointer;
}

.imglink {
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  width: 140px;
  height: 140px;
  object-fit: contain;
  cursor: pointer;
}

.invite-friends {
  padding-left: 1rem;
  padding-right: 1rem;
  font-style: italic;
}

.install-app {
  color: blue;
  font-weight: 500;
}
.input-search {
  width: 250px;
  font-size: 11px;
}

::placeholder {
  color: rgb(20, 20, 20);
  font-weight: 600;
}

.title {
  text-transform: uppercase;
  background-color: #fa8900;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 16px 10px;
}

.alilink {
  margin-top: 10px;
}

.alilink p {
  text-transform: uppercase;
  background-color: #ff4747;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 16px 10px;
}
.custom-button {
  text-transform: uppercase;
  background-color: #ff4747;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 16px 0;
  width: 100%;
}

.code {
  font-weight: 600;
  font-size: 18px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}
